@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}

body{
	background: white;
	font-size: 14px;
	line-height: 22px;
	color:black:;
}
.bold{
	font-weight:800;
	font-size: 20px;
	text-transform: uppercase;
}
.semi_bold{
	font-weight:700;
	font-size: 20px;
}
.resume{
	width:900px;
	height: auto;
	display: flex;
	margin: 10px auto;

}
.resume .resume_left{
	width: 280px;
	background:#0bb5f4;
}

.resume .resume_left .resume_profile{
	width: 100%;
	height:280px;
}

.resume .resume_left .resume_profile img{
	width: 100%;
	height: 100%;
}
.resume .resume_left .resume_content{
	padding: 0 25px;
}

.resume .resume_title{
	margin-bottom: 20px;
}

.resume .resume_item {
	padding: 25px 0;
	border-bottom: 2px solid #b1eaff;
}
